#root {
  width: 100%;
  padding: 0rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-body {
  margin: 10px 5% 80px 5%;
}

.app-head {
  margin: 0;
  padding: 0.1em 2%;
  background-color: #282828;
  border-bottom: 1px solid #555555;
  display: flex;
  justify-content: space-between;
}

.app-head input {
  margin: 4% 10px 4% 10px;
  width: 25%;
}

.app-foot {
  height: 100px;
  margin: 0;
  padding: 0.1em 2%;
  background-color: #282828;
  background: linear-gradient(0deg, #222222, #282828);
  border-top: 1px solid #555555;
  color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.app-foot img {
  margin: 8px;
}

.paper-card-container {
  width: 95%;
  height: auto;
  margin: 10px 2% 10px 2%;
}

.paper-card {
  width: 95%;
  height: auto;
  margin: 15px 0;
  padding: 5px 20px 5px 20px;
  background-color: #2e2e2e;
  border-left: 10px double #aaaaaa;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
}

.paper-card:hover {
  border-color: #8d64ff;
  background-color: #393939;
}

.tag-card {
  margin: 2px;
  color: #a0a0a0;
}